<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><a href="http//:www.yahoo.co.jp">YAHOO!</a><br><br><br>リンク出来ない？<br>なに、気にすることはない<br><font size="7" color="blue">	川´_ゝ`）<br>これはどうかね？<br><a href="http//:www.google.co.jp">Google</a><br>